<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin 2 - Register</title>
    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body class="bg-gradient-primary">
    <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user rounded-0" name="FirstName" id="FirstName"
                                            placeholder="First Name">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user rounded-0" name="LastName" id="LastName"
                                            placeholder="Last Name">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user rounded-0" name="MiddleName" id="MiddleName"
                                            placeholder="Middle Name">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user rounded-0" name="PhoneNo" id="PhoneNo"
                                            placeholder="Phone No">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user rounded-0"
                                            placeholder="Password" name="Password" id="Password">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user rounded-0"
                                            id="confirmPassword" placeholder="Repeat Password" name="confirmPassword">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <label>Select City</label>
                                       <select name="City" id="City" class="form-control rounded-0">
                                        <option value="">Choose City</option>
                                        <option value="Pune">Pune</option>
                                        <option value="Nasik">Nasik</option>
                                       </select>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Select State</label>
                                        <select name="State" id="State" class="form-control rounded-0">
                                        <option value="">Choose State</option>
                                         <option value="Maharashtra">Maharashtra</option>
                                         <option value="Karnataka">Karnataka</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                <div class="col-sm-12 mb-3 mb-sm-0">
                                    <input type="text" class="form-control form-control-user rounded-0"
                                        placeholder="Pincode" name="pincode" id="pincode">
                                </div>
                                <div class="col-sm-12 mb-3 mt-3 mb-sm-0">
                                   <textarea  class="form-control form-control-user rounded-0" placeholder="Enter Address" name="Address" id="Address"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Personal Details</h1>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label>Select Blood Group</label>
                                   <select name="bloodGruop" id="bloodGruop" class="form-control rounded-0">
                                    <option value="">Choose Blood Group</option>
                                    <option value="A+">A+</option>
                                    <option value="A-">A-</option>
                                    <option value="B+">B+</option>
                                    <option value="B-">B-</option>
                                    <option value="O+">O+</option>
                                    <option value="O-">O-</option>
                                    <option value="AB+">AB+</option>
                                    <option value="AB-">AB-</option>
                                   </select>
                                </div>
                                <div class="col-sm-6">
                                    <label>Age</label>
                                    <input type="number" class="form-control form-control-user rounded-0" name="Age" id="Age"
                                        placeholder="Age">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label>COVID Vaccination Certificate-1 ID</label>
                                    <input type="text" class="form-control form-control-user rounded-0"
                                        placeholder="COVID Vaccination Certificate-1 ID" name="COVIDVaccinationCertificate1" id="COVIDVaccinationCertificate1">
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label style="font-size:15px">COVID Vaccination Certificate-1 Date</label>
                                    <input type="date" class="form-control form-control-user rounded-0"
                                        placeholder="COVID Vaccination Certificate-1 Date" name="COVIDVaccinationCertificate1date" id="COVIDVaccinationCertificate1date">
                                </div>
                            </div>


                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label >COVID Vaccination Certificate-2 ID</label>
                                    <input type="text" class="form-control form-control-user rounded-0"
                                        placeholder="COVID Vaccination Certificate-2 ID" name="COVIDVaccinationCertificate2" id="COVIDVaccinationCertificate2">
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label style="font-size:15px">COVID Vaccination Certificate-2 Date</label>
                                    <input type="date" class="form-control form-control-user rounded-0"
                                        placeholder="COVID Vaccination Certificate-2 Date" name="COVIDVaccinationCertificate2date" id="COVIDVaccinationCertificate2date">
                                </div>
                            </div>


                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label>First Vaccination City Name</label>
                                    <input type="text" class="form-control form-control-user rounded-0"
                                        placeholder="COVID Vaccination Certificate-2 ID" name="FirstVaccinationCityName" id="FirstVaccinationCityName">
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label style="font-size:15px">Second Vaccination City Name</label>
                                    <input type="text" class="form-control form-control-user rounded-0"
                                        placeholder="Second Vaccination City Name" name="SecondVaccinationCityName" id="SecondVaccinationCityName">
                                </div>
                            </div>

                            <button type="button" class="btn btn-primary btn-user btn-block rounded-0 RegisterUser">
                                Create Account
                            </button>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>

$( document ).ready(function() {
   $(".RegisterUser").on('click',function(){

    let data = {
        firstName: $("#FirstName").val(),
        lastName: $("#LastName").val(),
        middleName: $("#MiddleName").val(),
        phoneNo: $("#PhoneNo").val(),
        password: $("#Password").val(),
        confirmPassword: $("#confirmPassword").val(),
        City: $("#City").val(),
        State: $("#State").val(),
        pincode: $("#pincode").val(),
        bloodGruop: $("#bloodGruop").val(),
        age: $("#Age").val(),
        COVIDVaccinationCertificate1: $("#COVIDVaccinationCertificate1").val(),
        COVIDVaccinationCertificate1date: $("#COVIDVaccinationCertificate1date").val(),
		COVIDVaccinationCertificate2: $("#COVIDVaccinationCertificate2").val(),
		COVIDVaccinationCertificate2date: $("#COVIDVaccinationCertificate2date").val(),
		firstVaccinationCityName: $("#FirstVaccinationCityName").val(),
		secondVaccinationCityName: $("#SecondVaccinationCityName").val()
    }

    console.log('data:::::::::::>>',data)

    $.ajax({
  type: "POST",
  url: "/register-user",
  data: {
        firstName: $("#FirstName").val(),
        lastName: $("#LastName").val(),
        middleName: $("#MiddleName").val(),
        phoneNo: $("#PhoneNo").val(),
        password: $("#Password").val(),
        confirmPassword: $("#confirmPassword").val(),
        City: $("#City").val(),
        State: $("#State").val(),
        pincode: $("#pincode").val(),
        address:$("#Address").val(),
        bloodGruop: $("#bloodGruop").val(),
        age: $("#Age").val(),
        COVIDVaccinationCertificate1: $("#COVIDVaccinationCertificate1").val(),
        COVIDVaccinationCertificate1date: $("#COVIDVaccinationCertificate1date").val(),
		COVIDVaccinationCertificate2: $("#COVIDVaccinationCertificate2").val(),
		COVIDVaccinationCertificate2date: $("#COVIDVaccinationCertificate2date").val(),
		firstVaccinationCityName: $("#FirstVaccinationCityName").val(),
		secondVaccinationCityName: $("#SecondVaccinationCityName").val()
    },
    success: function(response){
        console.log('RESPONSE::::::::::',response)

        if(response.data.status =="200"){
            swal(response.data.message).then(value => {
                window.location.href= "/";
            });
        }else{
            swal(response.data.message)
        }
        
    },
    error:function(error){
     console.log('ERROR::::::::::',error.responseJSON.errors)
     let erMsg=`<ul style="list-style:none;">`;
     if(error.responseJSON.errors){
        error.responseJSON.errors.forEach(function(erItem){
            erMsg += `<li>${erItem.msg}</li>`
        })
        erMsg +=`</ul>`;
        (function() {
  const wrapper = document.createElement('div');
  wrapper.innerHTML = erMsg;
  swal({
    title: "Error!",
    content: wrapper,
  });
})();
        // swal({
        // title: "Error",
        // text: erMsg,
        // html: true, // add this if you want to show HTML
        // type: "error" // type can be error/warning/success
        // });
     }
    },
    dataType: 'json'
});

   })
});
    </script>
</body>
</html>